@font-face {
	font-family: 'futura-pt-bold';
	src: url('../fonts/futura-pt-bold.eot');
	src: local('☺'), url('../fonts/futura-pt-bold.woff') format('woff'), url('../fonts/futura-pt-bold.ttf') format('truetype'), url('../fonts/futura-pt-bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'futura-pt-book';
	src: url('../fonts/futura-pt-book.eot');
	src: local('☺'), url('../fonts/futura-pt-book.woff') format('woff'), url('../fonts/futura-pt-book.ttf') format('truetype'), url('../fonts/futura-pt-book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'futura-pt-demi';
	src: url('../fonts/futura-pt-demi.eot');
	src: local('☺'), url('../fonts/futura-pt-demi.woff') format('woff'), url('../fonts/futura-pt-demi.ttf') format('truetype'), url('../fonts/futura-pt-demi.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'futura-pt-medium';
	src: url('../fonts/futura-pt-medium.eot');
	src: local('☺'), url('../fonts/futura-pt-medium.woff') format('woff'), url('../fonts/futura-pt-medium.ttf') format('truetype'), url('../fonts/futura-pt-medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'segoe-ui-italique';
	src: url('../fonts/segoe-ui-italique.eot');
	src: local('☺'), url('../fonts/segoe-ui-italique.woff') format('woff'), url('../fonts/segoe-ui-italique.ttf') format('truetype'), url('../fonts/segoe-ui-italique.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}